<section class="facilities">
  <h1>We Provide Quarantine Centers for all incoming Tourists/Passengers</h1>
  <div class="row1">
      <div class="facilities-col">
          <img src="assets/Images/amari.jpg">
          <h3>Quarantine Center Code: Q01</h3>
          <p>Amari-Galle</p>
      </div>
      <div class="facilities-col">
          <img src="assets/Images/p2.png">
          <h3>Quarantine Center Code: Q02</h3>
          <p>po-Diazepam Tab 5mg x 50's *S4*</p>
      </div>
      <div class="facilities-col">
          <img src="assets/Images/p3.jpeg">
          <h3>Quarantine Center Code: Q03</h3>
          <p>Deep Heat 140g Tube</p>
      </div>
      <div class="facilities-col">
        <img src="assets/Images/p6.jpg">
        <h3>Quarantine Center Code: Q04</h3>
        <p>ASPRO CLEAR TABLET 24'S</p>
    </div>

  </div>


  <div class="row2">
    <div class="facilities-col">
        <img src="assets/Images/p7.jpg">
        <h3>Quarantine Center Code: Q05</h3>
        <p>Dermeze Ointment 500g Tub</p>
    </div>
    <div class="facilities-col">
        <img src="assets/Images/p8.jpeg">
        <h3>Quarantine Center Code: Q06</h3>
          <p>Ego Pinetarsol. 500ml</p>
    </div>
    <div class="facilities-col">
        <img src="assets/Images/p9.jpg">
        <h3>Quarantine Center Code: Q07</h3>
        <p>Eucalytus Oil 50ml Bottle
        </p>
    </div>
    <div class="facilities-col">
      <img src="assets/Images/p10.jpg">
      <h3>Quarantine Center Code: Q08</h3>
      <p>Bis-Pectin Suspension 200ml</p>
  </div>

</div>

</section>

