<div class="main-content">
    <header>
      <button class="Navbutton" routerLink="/hospital-admin" routerLinkActive="active">Hospital home</button>
      <span class="bars"></span>

      <div>
          <span class="las la-search"></span>
          <span class="las la-bookmark"></span>
          <span class="las la-sms"></span>
        </div>

      </header>


      <main>
        <div class="page-header">
          <div>
            <h1>Site Admin Dashboard</h1>

            </div>


          </div>
          <div class="a">
          <div class="addpharmacy">
              <div class="text">
                <h2>View Admins</h2>
                <button routerLink="/site-admin-page" routerLinkActive="active">Click</button>
                </div>
          </div>
          <div class="addpharmacy">
            <div class="text">
              <h2>View Hospital Admins</h2>
              <button routerLink="/hospital-admin-contact" routerLinkActive="active">Click</button>
              </div>
        </div>
        <div class="addpharmacy">
            <div class="text">
              <h2>Signup Hospital Admin</h2>
              <button routerLink="/hospital-admin-signup" routerLinkActive="active">Click</button>
              </div>
        </div>


    </div>

            <img id="gif" src="/assets/Images/back.jpg" />

        </main>
    </div>

