.searchpharmacy{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 10px;

 }

 .listpharmacy{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 10px;
 }

 h1{
   text-align: center;
   color: #777;
   margin-bottom: 20px;
   font-size: 30px;
   letter-spacing: 2px;
 }

 table{

    width: 100%;


    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 12px 12px 0 0;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(32, 32, 32, 0.3);
 }

 th{
   background: #0a7e2798;
   padding: 10px 15px;
 }

 td{
   padding-top: 30px;
   padding-bottom: 30px;

 }

 tr:nth-child(odd){
   background-color: rgba(15, 214, 15, 0.397);
 }
 tr:nth-child(even){
  background-color: rgba(15, 214, 15, 0.137);
}
 span{
   color: #17a13a;
   font-size: larger;
   font-family: 'Times New Roman', Times, serif;

 }

 .search-field{
   height: 30px;

   padding: 10px;
   margin-right: 5px;
 }

 .skills{
    width: 800px;
    border-color:#17a13a ;
    border-radius: 10px;
 }

 .search-btn{
   height: 50px;
   width: 150px;
   background: #17a13a;
   border: none;
   color: #fff;
 }

 .hero-btn1{
  height: 40px;
  width: 100%;
  background: #17a13a;
  border: none;
  color: #fff;
  font-size: 13px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 10px;
}
.hero-btn1:hover{
  background: #056402;
  cursor: pointer;
}


 .search-btn:hover{

  background: #197e32;
  cursor: pointer;
}

.form-box{
  background: white(195, 255, 183);
  padding: 30px 50px;
  box-shadow: 0 10px 15px rgba(32, 32, 32, 0.3);
}
@media(max-width: 700px){
  th{
    font-size: 10px;
    background: #68c893;
    padding: 10px 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  td{
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;

  }

  .hero-btn1{
    height: 20px;
    width: 50px;
    background: #17a13a;
    border: none;
    color: #fff;
    font-size: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
  }

  table{

    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 12px 12px 0 0;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(32, 32, 32, 0.3);
 }

  .skills{
    width: 250px;

 }

 .search-field{
  height: 15px;
  padding: 10px;
  margin-right: 5px;
  margin-bottom: 10px;

}


.search-btn{
  height: 30px;
  width: 100px;
  background: #17a13a;
  border: none;
  color: #fff;
}

h1{
  text-align: center;
  color: rgb(15, 196, 39);
  margin-bottom: 20px;
  font-size: 30px;
  letter-spacing: 1px;
}

}


.listpharmacy{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 10px;


}

.col-md-3{
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
  margin-right: 20px;
  cursor: pointer;

}


.col-md-3 img{
  width: 100%;
  border-radius: 10px;
  height: 350px;


}
.row1{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.row2{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}



.container h2{
  background: #17a13a;
  color: rgb(56, 197, 28);
  width: 200px;
  font-size: 13px;
  padding: 5px;
  height: 28px;
  margin-top: 30px;
}

.container h2::after{
  content: '';
  border-top: 39px solid #17a13a;
  border-right: 40px solid transparent;
  position: relative;
  left: 48px;
  top: 34px;
}

button.view {
  transition: all 0.1s ease;
  color: black;
  border: 2px solid #17a13a;
  font-family:'Montserrat', sans-serif;

  text-align:center;
  line-height: 1;
  font-size: 13px;
  background-color : transparent;
  padding: 10px;
  outline: none;
  border-radius: 4px;
  width: 200px;
  height: 35px;
}
button.view:hover {
  color: #003f00;
  background-color: #17a1397a;
}
/*body home*/
body {
  background-color:white;
  background-repeat: no-repeat;
  background-size :100%;

  background-image: url(https://images.unsplash.com/photo-1611689102033-7f9e0a8eb851?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80)
}

