<!DOCTYPE html>
<html>
 <head>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Covid-19 Panademic</title>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">



      <!---- javascript for toggle Menu---->
<script>

  var navLinks = document.getElementById("navLinks");

  function showMenu(){
      navLinks.style.right = "0";
  }


  function hideMenu(){
      navLinks.style.right = "-200px";
  }
</script>
  </head>
    <body>

<section class="facilities">
  <h1>SERVICES</h1>
   <p>We Always Provide Better Servic For Our Customers.</p>

  <div class="row1">
      <div class="facilities-col">
          <img src="assets/Images/track.png" routerLink="/track">
          <h3>Patient Tracking System</h3>

      </div>
      <div class="facilities-col">
          <img src="assets/Images/user.jpg">
          <h3>User Management</h3>

      </div>
      <div class="facilities-col">
          <img src="assets/Images/pharmacy.png" routerLink="/pharmacyhome" routerLinkActive="active">

          <h3>Pharmacy Services</h3>

      </div>
      <div class="facilities-col">
        <img src="assets/Images/quarantine.png">
        <h3>Managing Quarantine Centers</h3>

    </div>

  </div>


  <div class="row2">
    <div class="facilities-col">
        <img src="assets/Images/pcr.jpg">
        <h3>PCR/Laboratory Services</h3>

    </div>
    <div class="facilities-col">
        <img src="assets/Images/res.jpg">
        <h3>Reservation/Appointment Management</h3>

    </div>
    <div class="facilities-col">
        <img src="assets/Images/pay.jpg" routerLink="/paymentMethod">
        <h3>Payment Management</h3>

    </div>
    <div class="facilities-col">
      <img src="assets/Images/remotely.jpg" routerLink="/hospital-admin">
      <h3>Hospital Services Management</h3>

  </div>

</div>

</section>


<section class="testimonials">
  <h1>OUR VISION & MISSION</h1>
   <p>Believe US..</p>

  <div class="row">
      <div class="testimonials-col">

          <img src="assets/Images/vision.jpg">
          <p>To work closely and proactively with the industry to address the need of the highly skilled manpower</p>



          </div>
        <div class="testimonials-col">

          <img src="assets/Images/mission.jpg">
          <p>To set a high standard of knowledge and practice so that the status of the industry may be raised and catering popularized by offering attractive and progressive careers.
          </p>


          </div>
  </div>
</section>

<section class="cta">
  <h1>Question not answered yet?<br> We are here to help!</h1>
  <a href="" class="hero-btn">CONTACT US</a>

</section>



</body>
</html>
