<!DOCTYPE html>
<html>
 <head>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Covid-19 Panademic</title>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

     <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">




  </head>
    <body>
      <button type="button" class="view" routerLink="/viewappointments" routerLinkActive="active">View/Cancell Apointments</button>

       <section class="searchpharmacy">
        <form>
                 <h1> <span> Doctor</span><span></span></h1>
                 <div class="form-box">
                  <button type="button" routerLink="/dr-appointment" routerLinkActive="active" class="hero-btn1 red-btn">Make Appointment</button>
                  <br><br><input class="search-field skills" name="search" type="text" placeholder="Search Doctor Name or specialization" [(ngModel)]="searchText">
                </div>
               </form>
       <div class="listpharmacy">

        <table class="container" >

          <tr >
            <th> Doctor</th>
            <th>Hospital</th>
            <th>Specialization</th>
            <th>Arival Time</th>

            <th> </th>
          </tr>
      <tr  *ngFor="let Drschedule of DAschedule | filter:searchText">
        <td> {{Drschedule.drname}}</td>
        <td>{{Drschedule.hospital}} </td>
        <td> {{Drschedule.amount}}</td>
        <td> {{Drschedule.time}}</td>
      </tr>


        </table>
        </div>
        <br><br>
        </section>
        </body>


 <br>




