<section class="facilities">
  <h1>Popular Products</h1>
  <div class="row1">
      <div class="facilities-col">
          <img src="assets/Images/p1.jpg">
          <h3>Product Code: P01</h3>
          <p>Acetone 500ml</p>
      </div>
      <div class="facilities-col">
          <img src="assets/Images/p2.png">
          <h3>Product Code: P02</h3>
          <p>po-Diazepam Tab 5mg x 50's *S4*</p>
      </div>
      <div class="facilities-col">
          <img src="assets/Images/p3.jpeg">
          <h3>Product Code: P03</h3>
          <p>Deep Heat 140g Tube</p>
      </div>
      <div class="facilities-col">
        <img src="assets/Images/p6.jpg">
        <h3>Product Code: P04</h3>
        <p>ASPRO CLEAR TABLET 24'S</p>
    </div>

  </div>


  <div class="row2">
    <div class="facilities-col">
        <img src="assets/Images/p7.jpg">
        <h3>Product Code: P05</h3>
        <p>Dermeze Ointment 500g Tub</p>
    </div>
    <div class="facilities-col">
        <img src="assets/Images/p8.jpeg">
        <h3>Product Code: P06</h3>
          <p>Ego Pinetarsol. 500ml</p>
    </div>
    <div class="facilities-col">
        <img src="assets/Images/p9.jpg">
        <h3>Product Code: P07</h3>
        <p>Eucalytus Oil 50ml Bottle
        </p>
    </div>
    <div class="facilities-col">
      <img src="assets/Images/p10.jpg">
      <h3>Product Code: P08</h3>
      <p>Bis-Pectin Suspension 200ml</p>
  </div>

</div>

</section>


<section class="testimonials">
  <h1>OUR VISION & MISSION</h1>
   <p>Stay Safe</p>

  <div class="row">
      <div class="testimonials-col">

          <img src="assets/Images/vision.jpg">
          <p>To provide safe, high quality patient care in an atmosphere of professionalism, respect, and effective communication.</p>



          </div>
        <div class="testimonials-col">

          <img src="assets/Images/mission.jpg">
          <p>Developing and conducting research to improve the safety and efficiency of the medication use system.</p>


          </div>
  </div>
</section>
