<!DOCTYPE html>
<html>
 <head>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Covid-19 Panademic</title>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">




  </head>
    <body>

       <section class="sub-header">
  <nav>
      <div class="logoview">
      <a href="index.html"><img src="/assets/Images/logopanademic.png"></a>
  </div>

    <div class="nav-links" id="navLinks">
      <i class="fa fa-times" onclick="hideMenu()"></i>
       <ul>

        <li ><a href="" routerLink="/pharmacyorder" routerLinkActive="active">CUSTOMER INFO</a></li>
        <li ><a href=""  routerLink="/confirmorder" routerLinkActive="active" >ORDER PRODUCT & ORDER HISTORY</a></li>
        <li> <div id="active1"><a href="" routerLink="/image" routerLinkActive="active">UPLOAD PRESCRIPTION</a></div></li>
        <li><a href="" routerLink="/pharmacyhome" routerLinkActive="active">LOGOUT</a></li>



       </ul>

   </div>





  </nav>
     <h2>PRESCRIPTION</h2>




</section>


</body>
</html>



