
mat-card.content {


  width:85%;
  margin:auto;
  margin-top:1rem;

  background-color:rgb(42, 195, 233);

  margin-bottom: 2rem;
}

mat-card.contentSub {



  margin-bottom:1rem;

}
mat-card.contentCardMain {


  background-color:rgba(255, 142, 142, 0.904);
}

mat-card.contentCard {


  background-color:wheat;
}
mat-card.contentCard2 {


  background-color:wheat;
}

textarea{
  border:black

}
mat-spinner{
  margin:auto;
}
