<div class="sidebar">
  <div class="sidebar-brand">
    <div class="brand-flex">
      <img src="" width="30px" alt="">

      <div class="brand-icons">
        <span class="las la-bell"></span>
        <span class="las la-user-circle"></span>

        </div>
      </div>
    </div>
    <div class="sidebar-main">
        <div class="sidebar-user">
      <img src="/assets/Images/dp1.png" alt="">
       <div>
           <h3>CHAMATH SENADEERA</h3>
           <span>chamthsenadeera@gmail.com</span>
         </div>
      </div>

      <div class="sidebar-menu">

          <div class="menu-head">
               <span>Manage</span>
            </div>
            <ul>
              <li>
                <a href="" routerLink="/dashboard" routerLinkActive="active">
                     <span class="las la-window-maximize"></span>
                     DASHBOARD
                </a>
              </li>
              <li>
                <a href="" routerLink="/adminadd" routerLinkActive="active">
                     <span class="las la-plus-circle"></span>
                     ADD PHARMACIES
                </a>
              </li>
              <li>
                <a href="" routerLink="/adminview" routerLinkActive="active">
                     <span class="las la-eye"></span>
                     VIEW PHARMACY BRANCHES
                </a>
              </li>
              <li>
                <a href="" routerLink="/view" routerLinkActive="active">
                     <span class="las la-flag-checkered"></span>
                    CUSTOMER ORDERS
                </a>
              </li>
              <li>
                <a href="" routerLink="/orderreport" routerLinkActive="active">
                     <span class="las la-flag-checkered"></span>
                     ORDER REPORT
                </a>
              </li>
              <li>
                <a href="" routerLink="/hospital-admin" routerLinkActive="active">
                     <span class="las la-sign-out-alt"></span>
                     HOSPITAL PAGE
                </a>
              </li>
              </ul>

        </div>

      </div>
  </div>

  <div class="main-content">
    <header>
      <div class="menu-toggle">
        <label for="">
          <span class="las la-bars"></span>
        </label>
      </div>

      <div class="header-icons">
          <span class="las la-search"></span>
          <span class="las la-bookmark"></span>
          <span class="las la-sms"></span>
        </div>
      </header>

      <main>
        <div class="page-header">
          <div>
            <h1>DASHBOARD</h1>

            </div>


          </div>
          <div class="a">
          <div class="addpharmacy">
              <div class="text">
                <div class="v">
                <h2>ADD PHARMACIES</h2>
                <span class="las la-prescription-bottle-alt"></span></div>
                <button routerLink="/adminadd" routerLinkActive="active">VIEW</button>
                </div>
          </div>
          <div class="addpharmacy">
            <div class="text">
              <div class="v">
              <h2>VIEW PHARMACIES</h2>
              <span class="las la-eye"></span></div>
              <button routerLink="/adminview" routerLinkActive="active">VIEW</button>
              </div>
        </div>
        <div class="addpharmacy">
          <div class="text">
            <div class="v">
            <h2>ORDER REPORT</h2>
            <span class="las la-flag"></span></div>
            <button routerLink="/orderreport" routerLinkActive="active">VIEW</button>
            </div>
      </div>

  </div>
  <!--<img id="gif" src="/assets/Images/pgif.gif" />-->
 <div class="wrapper">
   <div class="box">
     <img src="/assets/Images/s1.jpg" alt="" class="img1">
     <img src="/assets/Images/s2.jpg" alt="" class="img2">
   </div>
   <div class="box">
    <img src="/assets/Images/s3.jpg" alt="" class="img1">
    <img src="/assets/Images/s4.jpg" alt="" class="img2">
  </div>
  <div class="box">
    <img src="/assets/Images/s6.jpg" alt="" class="img1">
    <img src="/assets/Images/s5.jpg" alt="" class="img2">

  </div>
 </div>

        </main>
    </div>

<br><br><br><br>
