<section>
<nav class="menu" tabindex="0">
	<div class="smartphone-menu-trigger"></div>
  <header class="avatar">
    <h2>Hospital Admin Home</h2><br>

  </header>
	<ul>
    <div class="drawer">
      <input type="checkbox">
      <span class="drawer__name">
        <li tabindex="0" class="icon-dashboard">
        <span>Vaccination Schedules</span></li>
        <span class="drawer__arrow">></span>
      </span>
      <ul class="drawer__content">
        <li routerLink="/vac-add" routerLinkActive="active">Add Schedules</li>
        <li routerLink="/vac-display" routerLinkActive="active">View Schedules</li>
      </ul>
    </div>

    <div class="drawer">
      <input type="checkbox">
      <span class="drawer__name">
        <li tabindex="0" class="icon-settings">
        <span>Doctor Schedules</span></li>
        <span class="drawer__arrow">></span>
      </span>
      <ul class="drawer__content">
        <li routerLink="/drA-add" routerLinkActive="active">Add Schedules</li>
        <li routerLink="/drA-display" routerLinkActive="active">View Schedules</li>
      </ul>
    </div>

    <div class="drawer">
      <input type="checkbox">
      <span class="drawer__name">
        <li tabindex="0" class="icon-customers">
        <span>Doctors</span></li>
        <span class="drawer__arrow">></span>
      </span>
      <ul class="drawer__content">
        <li routerLink="/doc-add" routerLinkActive="active">Add Doctors</li>
        <li routerLink="/doc-display" routerLinkActive="active">View List</li>
      </ul>
    </div>

    <div class="drawer">
      <input type="checkbox">
      <span class="drawer__name">
        <li tabindex="0" class="icon-users">
        <span>Schedule reports</span></li>
        <span class="drawer__arrow">></span>
      </span>
      <ul class="drawer__content">
        <li routerLink="" routerLinkActive="active">Vaccination</li>
        <li routerLink="" routerLinkActive="active">Doctor Appointments</li>
        <li routerLink="/doc-repo" routerLinkActive="active">Doctors</li>
      </ul>
    </div>

    <div class="drawer">
      <input type="checkbox">
      <span class="drawer__name">
        <li tabindex="0" class="icon-reservation">
        <span>Reservation/Appointment Managment</span></li>
        <span class="drawer__arrow">></span>
      </span>
      <ul class="drawer__content">
        <li routerLink="/reservationadminside" routerLinkActive="active">Vaccination reservations</li>
        <li routerLink="/appointmentadmin" routerLinkActive="active">Doctor Appointments</li>
      </ul>
    </div><!--routerLink="/dashboard" routerLinkActive="active"-->
    <div class="drawer">
      <input type="checkbox">
      <span class="drawer__name">
        <li tabindex="0" class="icon-reservation">
        <span>Pharmacy Managment</span></li>
        <span class="drawer__arrow">></span>
      </span>
      <ul class="drawer__content">
        <li routerLink="/dashboard" routerLinkActive="active">Pharmacy Managment</li>
      </ul>
    </div>

    <div class="drawer">
      <input type="checkbox">
      <span class="drawer__name">
        <li tabindex="0" class="icon-reservation">
        <span>Laboratory Managment</span></li>
        <span class="drawer__arrow">></span>
      </span>
      <ul class="drawer__content">
        <li routerLink="/Laboratorian" routerLinkActive="active">Laboratory Managment</li>
      </ul>
    </div>


    <div class="drawer">
      <input type="checkbox">
      <span class="drawer__name">
        <li tabindex="0" class="icon-reservation">
        <span>Patient Tracking</span></li>
        <span class="drawer__arrow">></span>
      </span>
      <ul class="drawer__content">
        <li routerLink="/create" routerLinkActive="active">Patient Tracking</li>
      </ul>
    </div>

    <div class="drawer">
      <input type="checkbox">
      <span class="drawer__name">
        <li tabindex="0" class="icon-settings">
        <span>Site Admin</span></li>
        <span class="drawer__arrow">></span>
      </span>
      <ul class="drawer__content">
        <li routerLink="/site-admin" routerLinkActive="active">Add Admin</li>
      </ul>
    </div>

  </ul>
</nav>


<article>

  <div class="subHead padding1">
    <h1 class="he">Hospital Admin Portal</h1>
  </div>

  <div class="row">
    <div class="column">
      <img src="assets/Images/vaci3.png" alt="Snow" style="width:100%">
    </div>

    <div class="column">
      <img src="assets/Images/doci1.jpg" alt="Mountains" style="width:100%">
    </div>
  </div>


</article>

</section>

