.vacSched {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 90%;
}

.vacSched td, .vacSched th {
  border: 1px solid #ddd;
  padding: 8px;
}

.vacSched tr:nth-child(even){background-color: #f2f2f2;}

.vacSched th {
  padding-top: 10px;
  padding-bottom: 5px;
  text-align: left;
  background-color: #425185;
  color: white;
}

.vsched_table{
  padding-top: 40px;
  padding-bottom: 150px;
  padding-left: 50px;

}

.button1 {
  background-color:#257de2;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.bttn:hover{
	background-color:#76b1f5;
  color: black;
}

.topic{
  padding-top: 50px;
}



/*navigation Btn*/
.Navbutton {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #008CBA;
  width: 100%;
}
