<!DOCTYPE html>
<html>
 <head>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Covid-19 Panademic</title>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">



  </head>
    <body>


<section class="header">
  <nav>
      <a href="index.html"><img src="/assets/Images/logopanademic.png"></a>



  </nav>
  <div class="text-box">
    <div class="flex">
      <h1>COVID-19 SPREAD PREVENTION</h1>
      <img src="/assets/Images/testinglogo.png" width="150x" height="150px">
    </div>
      <p>Stay At Home Quarantine To Stop Corona Virus,<br>People May Need Supportive Care Like Us</p>
      <a href="" routerLink="/track" class="hero-btn1"> CURRENT PATIENT </a>
      <a href="" routerLink="/report"class="hero-btn2">PATIENT COUNT REPORTS</a><br>
  </div>




</section>



</body>
</html>
